{% extends 'photoshare/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="grid grid-cols-3 gap-4 h-full">
    <div class="flex justify-between py-6 px-8 bg-gray-400 rounded-xl mb-5 items-center col-span-3">
        <h3 class="text-xl">Photo's Gallery</h3>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="bg-green-300 rounded-xl flex justify-between items-center w-1/2 p-3 pl-5 w-1/2 my-1">
                        <p>{{ message }}</p>
                        <form method="POST" action="{% url 'likes:clear_messages' %}" class="w-fit h-fit">
                            {% csrf_token %}
                            <input type="hidden" name="previous_url" value="{{request.path}}">
                            <button type="submit">
                                <i class="fa-solid fa-x"></i>
                            </button>
                        </form>
                    </div>
                {% elif message.tags == 'error' %}
                    <div class="bg-red-300 rounded-xl flex justify-between items-center w-1/2 p-3 pl-5">
                        <p>{{ message }}</p>
                        <form method="POST" action="{% url 'likes:clear_messages' %}" class="w-fit h-fit">
                            {% csrf_token %}
                            <input type="hidden" name="previous_url" value="{{request.path}}">
                            <button type="submit">
                                <i class="fa-solid fa-x"></i>
                            </button>
                        </form>
                    </div>
                {% elif message.tags == 'info' %}
                    <div class="bg-yellow-300 rounded-xl flex justify-between items-center w-1/2 p-3 pl-5">
                        <p>{{ message }}</p>
                        <form method="POST" action="{% url 'likes:clear_messages' %}" class="w-fit h-fit">
                            {% csrf_token %}
                            <input type="hidden" name="previous_url" value="{{request.path}}">
                            <button type="submit">
                                <i class="fa-solid fa-x"></i>
                            </button>
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <button class="py-2 px-4 bg-gray-900 text-white hover:bg-gray-700 rounded-xl">
            <a href="{% url 'new' %}" class="flex items-center">
                <i class="fa-solid fa-plus mr-1"></i>Add Photo
            </a>
        </button>
    </div>
    <div class="flex justify-center h-fit">
        <div class="bg-gray-200 w-2/3 py-4 px-8 flex flex-col items-center border-2 border-gray-600 rounded-xl">
            <h3 class="text-xl mb-2 bold">Categories</h3>
            <ul class="list-none self-start divide-y divide-slate-700 w-full">
                <li class="my-1 hover:text-lg {% if not category %} bg-gray-800 text-white text-center {% endif %}">
                    <a href="{% url 'gallery' %}">All</a>
                </li>
                {% for categorie in categories %}
                <li class="my-1 hover:text-lg {% if categorie.id == category.id %} bg-gray-800 my-2 text-white text-center {% endif %}">
                    <a href="{% url 'gallery' %}?category={{categorie.name}}">{{ categorie.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="bg-gray-100 col-span-2 grid grid-cols-3 gap-3">
        {% for photo in photos %}
        <div class="flex flex-col overflow-clip justify-between border-2 border-gray-600 h-80 rounded-xl pb-3">
            <img class="h-1/2" src="{{ photo.image.url }}" alt="{{ photo.description }}">
            <p class="text-sm my-3 px-3">
                {% if photo.description|length > 150 %}
                {{ photo.description|truncatechars:150 }}
                {% else %}
                {{ photo.description }}
                {% endif %}
            </p>
            <button class="bg-gray-400 py-2 px-4 self-center rounded-xl hover:bg-gray-600 hover:text-white">
                <a href="{% url 'detail_photo' photo.id %}" class="flex items-center">
                    <i class="fa-solid fa-eye mr-1"></i>View
                </a>
            </button>
        </div>
        {% empty %}
        <div class="rounded-xl flex col-span-3 items-center justify-center">
            <h3 class="text-2xl self-center">No photos found 
                {% if category %} for category {{ category.name }}{% endif %}
            </h3>
        </div>
        {% endfor %}
        <div class="col-span-3 flex m-auto space-x-2">
            {% if photos.has_previous %}
                <div class="flex items-center w-20 justify-evenly">
                    <p>
                        <a href="?page=1">
                            <i class="fa-solid fa-angles-left"></i>
                        </a>
                    </p>
                    <p class="text-xs hover:text-sm">
                        <a href="?page={{ photos.previous_page_number }}">Previous</a>
                    </p>
                </div>
            {% endif %}
            <div class="bg-gray-300 px-3 py-2 rounded-xl border-2 border-slate-600 hover:bg-gray-800 hover:text-white">
                {{ photos.number }}
            </div>
            {% if photos.has_next %}
                <div class="flex items-center w-20 justify-evenly">
                    <p class="text-xs hover:text-sm">
                        <a href="?page={{ photos.next_page_number}}">Next</a>
                    </p>
                    <p>
                        <a href="?page={{ photos.paginator.num_pages }}">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}