{% extends 'photoshare/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="grid grid-cols-3 gap-4">
    <div class="flex justify-between py-6 px-8 bg-gray-400 rounded-xl mb-5 items-center col-span-3">
        <h3 class="text-xl">Photo's Gallery</h3>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <p class="bg-green-300 rounded-xl text-center w-1/2 p-3">
                        {{ message }}
                    </p>
                {% elif message.tags == 'error' %}
                    <p class="bg-red-300 rounded-xl text-center w-1/2 p-3">
                        {{ message }}
                    </p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <button class="py-2 px-4 bg-gray-900 text-white hover:bg-gray-700 rounded-xl">
            <a href="{% url 'new' %}" class="flex items-center">
                <i class="fa-solid fa-plus mr-1"></i>Add Photo
            </a>
        </button>
    </div>
    <div class="flex justify-center h-fit">
        <div class="bg-gray-200 w-2/3 py-4 px-8 flex flex-col items-center border-2 border-gray-600 rounded-xl">
            <h3 class="text-xl mb-2 bold">Categories</h3>
            <ul class="list-none self-start divide-y divide-slate-700 w-full">
                <li class="my-1 hover:text-lg {% if not category %} bg-gray-800 text-white text-center {% endif %}">
                    <a href="{% url 'gallery' %}">All</a>
                </li>
                {% for categorie in categories %}
                <li class="my-1 hover:text-lg {% if categorie.id == category.id %} bg-gray-800 my-2 text-white text-center {% endif %}">
                    <a href="{% url 'gallery' %}?category={{categorie.name}}">{{ categorie.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="bg-gray-100 col-span-2 grid grid-cols-3 gap-3">
        {% for photo in photos %}
        <div class="flex flex-col overflow-clip justify-between border-2 border-gray-600 h-80 rounded-xl pb-3">
            <img class="h-1/2" src="{{ photo.image.url }}" alt="{{ photo.description }}">
            <p class="text-sm my-3 px-3">
                {% if photo.description|length > 150 %}
                {{ photo.description|truncatechars:150 }}
                {% else %}
                {{ photo.description }}
                {% endif %}
            </p>
            <button class="bg-gray-400 py-2 px-4 self-center rounded-xl hover:bg-gray-600 hover:text-white">
                <a href="{% url 'detail_photo' photo.id %}" class="flex items-center">
                    <i class="fa-solid fa-eye mr-1"></i>View
                </a>
            </button>
        </div>
        {% empty %}
        <div class="rounded-xl flex col-span-3 items-center justify-center">
            <h3 class="text-2xl self-center">No photos found 
                {% if category %} for category {{ category.name }}{% endif %}
            </h3>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}