{% extends 'photoshare/base.html' %}
{% block title %}Password reset{% endblock %}
{% block content %}
    <div class='h-screen flex justify-center items-center'>
        <form method='POST' action="{% url 'reset_password' %}" class="flex flex-col justify-between bg-gray-200 h-1/2 p-4 border border-slate-400 rounded-xl">
            {% csrf_token %}
            <div class="flex items-center justify-center border-b border-slate-500">
                <i class="fa-solid fa-image mr-2"></i>
                <h3 class="text-lg"> Password Forgotten </h3>
            </div>
            <h3 class="text-sm">
                an email with a link to reset your password will be sent to your email address 
            </h3>
            {% if error %}
                <div class='rounded-xl p-2 bg-red-200 text-center'>
                    {{error}}
                </div>
            {% endif %}
            {% if success %}
                <div class='rounded-xl p-2 bg-green-200 text-center'>
                    {{success}}
                </div>
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class='rounded-xl p-2 bg-red-200 text-center'>
                            {{message}}
                        </div>
                    {% elif message.tags == 'success' %}
                        <div class='rounded-xl p-2 bg-green-200 text-center'>
                            {{message}}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <input type='text' name='email' placeholder='enter your email Adress' class="pl-4 py-2 border border-slate-500 rounded-xl">
            <button type='submit' class="px-3 py-2 bg-green-400 hover:bg-green-700 hover:text-white rounded-xl self-end">send</button>
        </form>
    </div>
{% endblock %}