{% extends 'userprofile/base.html' %}
{% load static %}
{% block content %}
    <div class="flex flex-col h-screen">
        <div class="flex justify-between py-6 px-8 bg-gray-400 rounded-xl mb-5 items-center col-span-3">
            <h3 class="text-xl">My Profile</h3>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="bg-green-300 rounded-xl flex justify-between items-center w-1/2 p-3 pl-5 w-1/2">
                            <p>{{ message }}</p>
                            <form method="POST" action="{% url 'likes:clear_messages' %}" class="w-fit h-fit">
                                {% csrf_token %}
                                <input type="hidden" name="previous_url" value="{{request.path}}">
                                <button type="submit">
                                    <i class="fa-solid fa-x"></i>
                                </button>
                            </form>
                        </div>
                    {% elif message.tags == 'error' %}
                        <div class="bg-red-300 rounded-xl flex justify-between items-center w-1/2 p-3 pl-5">
                            <p>{{ message }}</p>
                            <form method="POST" action="{% url 'likes:clear_messages' %}" class="w-fit h-fit">
                                {% csrf_token %}
                                <input type="hidden" name="previous_url" value="{{request.path}}">
                                <button type="submit">
                                    <i class="fa-solid fa-x"></i>
                                </button>
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="flex justify-between w-1/4 items-center">
                {% if search_results %}
                    {% include 'userprofile/search.html' with results=search_results searched_value=searched_value %}
                {% else %}
                    {% include 'userprofile/search.html'  %}
                {% endif %}
                <button class="py-2 px-4 bg-gray-900 text-white hover:bg-gray-700 rounded-xl">
                    <a href="{% url 'gallery' %}" class="flex items-center">
                        <i class="fa-solid fa-home mr-1"></i>Home
                    </a>
                </button>
            </div>
        </div>
        <div class="h-full w-3/4 self-center bg-gray-100 rounded-md">
            <form method="POST" action="{% url 'profile:my_profile' %}" class="w-full p-4 flex h-full"
            enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <p>
                    {{ form.non_field_errors }}
                </p>
                {% endif %}
                <div class="w-1/2 flex flex-col space-y-2 justify-center items-center">
                    <p>{{ form.profile_picture.label }}</p>
                    <p> {{ form.profile_picture.help_text }} </p>
                    {% if user_profile_data %}
                    <img src="{{ user_profile_data.profile_picture.url }}" alt="anonymous" width='200'>
                    {% else %}
                    <img src="{% static 'profile/anonymous.avif' %}" alt="anonymous" width='200'>
                    {% endif %}
                    {{ form.profile_picture }}
                    {% if form.profile_picture.errors %}
                        <ul class="text-sm p-2 w-1/2 bg-red-200 list-none rounded-xl">
                            {% for error in form.profile_picture.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="w-1/2 space-y-2 flex flex-col justify-between">
                    <div class="flex flex-col space-y-1">
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                            <p class="text-sm p-1">{{form.first_name.errors}}</p>
                        {% endif %}
                    </div>
                    <div class="flex flex-col space-y-1">
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                            <p class="text-sm p-1">{{form.last_name.errors}}</p>
                        {% endif %}
                    </div>
                    <div class="flex flex-col space-y-1">
                        {{ form.birthdate.label_tag }}
                        {{ form.birthdate }}
                        {% if error_birthdate %}
                            <p class="text-sm p-1">{{ error_birthdate }}</p>
                        {% endif %}
                    </div>
                    <div class="flex flex-col space-y-1">
                        {{ form.bio.label_tag }}
                        {{ form.bio }}
                        {% if form.bio.errors %}
                            <p class="text-sm p-1">{{form.bio.errors}}</p>
                        {% endif %}
                    </div>
                    <div class="flex flex-col space-y-1">
                        {{ form.country.label_tag }}
                        {{ form.country }}
                        {% if form.country.errors %}
                            <p class="text-sm p-1">{{form.country.errors}}</p>
                        {% endif %}
                    </div>
                    <div class="self-end">
                        <button type="submit" class="bg-green-300 rounded-xl py-2 px-4 hover:bg-green-500 hover:text-white">
                            {% if is_first_time %}
                            Add data
                            {% else %}
                            Save changes
                            {% endif %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}