{% extends 'userprofile/base.html' %}
{% load static %}
{% load countries %}
{% block title %}{{ username }}{% endblock %}
{% block content %}

    <div class="h-screen flex flex-col">
        <div class="flex justify-between py-6 px-8 bg-gray-400 rounded-xl mb-5 items-center">
            <h3 class="text-lg">{{username}}'s Profile </h3>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="bg-green-300 rounded-xl flex justify-between items-center w-1/2 p-3 pl-5 w-1/2">
                            <p>{{ message }}</p>
                            <form method="POST" action="{% url 'likes:clear_messages' %}" class="w-fit h-fit">
                                {% csrf_token %}
                                <input type="hidden" name="previous_url" value="{{request.path}}">
                                <button type="submit">
                                    <i class="fa-solid fa-x"></i>
                                </button>
                            </form>
                        </div>
                    {% elif message.tags == 'error' %}
                        <div class="bg-red-300 rounded-xl flex justify-between items-center w-1/2 p-3 pl-5">
                            <p>{{ message }}</p>
                            <form method="POST" action="{% url 'likes:clear_messages' %}" class="w-fit h-fit">
                                {% csrf_token %}
                                <input type="hidden" name="previous_url" value="{{request.path}}">
                                <button type="submit">
                                    <i class="fa-solid fa-x"></i>
                                </button>
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <button class="py-2 px-4 bg-gray-900 text-white hover:bg-gray-700 rounded-xl">
                <a href="{% url 'profile:my_profile' %}" class="flex items-center">
                    <i class="fa-solid fa-arrow-left"></i>
                    <p class="ml-1">Back</p>
                </a>
            </button>
        </div>
        <div class="h-full bg-gray-100 rounded-xl p-6 flex flex-col items-center">
            {% if user_profile_data %}
                <div class="grid grid-cols-2 gap-3 h-full w-3/4">
                    <div class="flex flex-col items-center justify-center">
                        <div class="bg-gray-200 rounded-full border-2 border-slate-800 w-64 h-64 overflow-clip">
                            {% if user_profile_data.profile_picture %}
                            <img src="{{user_profile_data.profile_picture.url}}" alt="profile_picture" 
                            class="w-full h-full object-cover">
                            {% else %}
                                <img src="{% static 'profile/anonymous.avif' %}" alt="anonymous_profile"
                                class="w-full h-full object-cover">
                            {% endif %}
                        </div>
                        <p class="text-xl underline my-4"> {{username}} </p>
                    </div>
                    <div class="flex justify-center items-center">
                        <div class="grid grid-cols-2 gap-4 h-1/2 p-2">
                            <div class="col-span-2 flex items-center">
                                {% if are_we_friends %}
                                    <button class="py-2 px-4 bg-gray-200 hover:bg-gray-600 hover:text-white m-auto">
                                        Message 
                                    </button>
                                {% else %}
                                    {% if no_invitation %}
                                        <form action="{% url 'friends:send_request' username %}" method="POST" class="m-auto h-fit w-fit mb-6">
                                            {% csrf_token %}
                                            <button class="py-2 px-4 flex items-center bg-green-300 hover:bg-green-600 hover:text-white">
                                                <i class="fa-solid fa-plus"></i> <p class="ml-2">Add as a Friend</p> 
                                            </button>
                                        </form>
                                    {% else %}
                                        {% if i_invited_him %}
                                            <form action="{% url 'friends:send_request' username %}" method="POST" class="m-auto h-fit w-fit mb-6">
                                                {% csrf_token %}
                                                <button class="py-2 px-4 flex items-center bg-green-300 hover:bg-green-600 hover:text-white">
                                                    <i class="fa-solid fa-x"></i> <p class="ml-2">Cancel my Request</p>  
                                                </button>
                                            </form>
                                        {% elif he_invited_me %}
                                            <form method='POST' action="{% url 'friends:accept_request' username %}" class="h-fit w-fit">
                                                {% csrf_token %}
                                                <button type='submit' class="mr-2 py-2 px-4 bg-green-200 hover:bg-green-600 hover:text-white rounded-xl">
                                                    Accept  
                                                </button>
                                            </form>
                                            <button class="ml-2 py-2 px-4 bg-red-200 hover:bg-red-600 hover:text-white rounded-xl">
                                                Decline  
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="flex">
                                <label class="font-bold mr-3">First Name : </label>
                                <p>{{user_profile_data.first_name}}</p>
                            </div>
                            <div class="flex">
                                <label class="font-bold mr-3">Last Name : </label>
                                <p>{{user_profile_data.last_name}}</p>
                            </div>
                            <div class="col-span-2 flex items-center">
                                <label class="font-bold">Birthdate :</label>
                                <p class="m-auto"> {{user_profile_data.birthdate}} </p>
                            </div>
                            <div class="col-span-2 flex flex-col">
                                <label class="font-bold">Bio :</label>
                                <p class="h-fit"> {{user_profile_data.bio}} </p>
                            </div>
                            <div class="col-span-2 flex items-center">
                                <label class="font-bold">Country :</label>
                                {% if country_data %}
                                <div class="flex items-center m-auto ">
                                    <p class="mr-2"> {{country_data.name}}</p>
                                    <img src="{{country_data.flag}}" alt='country_flag' class="border-1 border-slate-800 w-8">
                                </div>
                                {% else %}
                                    <p>{{user_profile_data.country}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="self-center m-auto">No Profile data availabe for {{username}}</p>
                <div class="col-span-2 flex items-center">
                    {% if are_we_friends %}
                        <button class="py-2 px-4 bg-gray-200 hover:bg-gray-600 hover:text-white m-auto">
                            Message 
                        </button>
                    {% else %}
                        {% if no_invitation %}
                            <form action="{% url 'friends:send_request' username %}" method="POST" class="m-auto h-fit w-fit mb-6">
                                {% csrf_token %}
                                <button class="py-2 px-4 flex items-center bg-green-300 hover:bg-green-600 hover:text-white">
                                    <i class="fa-solid fa-plus"></i> <p class="ml-2">Add as a Friend</p> 
                                </button>
                            </form>
                        {% else %}
                            {% if i_invited_him %}
                                <form action="{% url 'friends:send_request' username %}" method="POST" class="m-auto h-fit w-fit mb-6">
                                    {% csrf_token %}
                                    <button class="py-2 px-4 flex items-center bg-green-300 hover:bg-green-600 hover:text-white">
                                        <i class="fa-solid fa-x"></i> <p class="ml-2">Cancel my Request</p>  
                                    </button>
                                </form>
                            {% elif he_invited_me %}
                                <form method='POST' action="{% url 'friends:accept_request' username %}" class="h-fit w-fit">
                                    {% csrf_token %}
                                    <button type='submit' class="mr-2 py-2 px-4 bg-green-200 hover:bg-green-600 hover:text-white rounded-xl">
                                        Accept  
                                    </button>
                                </form>
                                <form method='POST' action="{% url 'friends:decline_request' username %}">
                                    <button type="submit" class="py-2 px-4 bg-gray-200 hover:bg-gray-600 hover:text-white">
                                        Decline  
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}