{% extends 'photoshare/base.html' %}
{% block title %}Likes{% endblock %}

{% block content %}
    <div class="bg-gray-300 h-screen flex flex-col">
        <div class="flex justify-between py-6 px-8 bg-gray-400 rounded-xl mb-5 items-center col-span-3">
            <h3 class="text-xl">
               {% block header_title %}
               <i class="fa-solid fa-heart fa-2xl"></i> for my Photos 
               {% endblock %}
            </h3>
            <button class="py-2 px-4 bg-gray-900 text-white hover:bg-gray-700 rounded-xl">
                <a href="{% url 'mygallery' %}">
                    <i class="fa-solid fa-arrow-left mr-1"></i>Go Back
                </a>
            </button>
        </div>
        <div class="w-2/3 h-5/6 self-center flex">
            <div class="w-1/2 flex flex-col pb-2 justify-between space-y-3 h-full border rounded-xl overflow-clip">
                <img class="h-1/2" src={{ photo.image.url }} alt="{{ photo.description}}">
                <p class="h-1/3 px-3"> {{ photo.description }} </p>
                <p class="self-center">Published on : {{ photo.created_at|date }}</p>
            </div>
            <div class="w-1/2 h-full flex flex-col py-3">
                <h3 class="text-lg self-center mb-3">
                    Total number of likes : {{ photo.number_of_likes }} 
                    <i class="fa-solid fa-heart" style="color: #ff0059;"></i>
                </h3>
                {% if likes %}
                <ul class="list-none h-5/6 overflow-y-auto p-3 space-y-1">
                    <li>
                        <div class="grid grid-cols-2 gap-3">
                            <p>Username</p>
                            <p> Time </p>
                        </div>
                    </li>
                    <hr class="border-black">
                    {% for like in likes %}
                        <li>
                            <div class="grid w-full grid-cols-2 gap-3">
                                <p>{{ like.created_by.username }}</p>
                                <p> {{ like.added_at|timesince }} ago </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="text-lg self-center m-auto">No Likes for the moment</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}