{% extends 'photoshare/base.html' %}
{% block title %}notifications{% endblock %}
{% block content %}
    <div class="flex justify-between py-6 px-8 bg-gray-400 rounded-xl mb-5 items-center col-span-3">
        <h3 class="text-xl">Notifications <i class="fa-solid fa-bell fa-xl ml-1"></i></h3>
        <button class="py-2 px-4 bg-gray-900 text-white hover:bg-gray-700 rounded-xl">
            <a href="{% url 'gallery' %}" class="flex items-center">
                <i class="fa-solid fa-house mr-1"></i>Home
            </a>
        </button>
    </div>
    <div class="w-2/3 flex flex-col py-4 px-10 h-screen m-auto">
         <h3 class="text-xl self-center mb-8 flex items-center">
            <p class="mr-3">Notifications for Me</p>
            <i class="fa-solid fa-bell"></i>
        </h3>
         <div class="flex flex-col py-2 h-full space-y-1 overflow-y-auto border-2 rounded-xl border-slate-600">
            {% if allnotifications %}
                {% for notification in allnotifications %}
                <div class="w-2/3 self-center flex flex-col border-b-2 border-slate-800">
                    <p class="text-sm px-3">{{ notification.notification }}</p>
                    <span class="text-xs self-end pr-3"> {{ notification.created_at|timesince }} </span>
                </div>
                {% endfor %}
            {% else %}
                <p class="self-center text-2xl">You have no notifications for the moment</p>
            {% endif %}
         </div>
    </div>
{% endblock %}